* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

.navbar {
    width: 100%;
    background-color: black;
    color: bisque;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.image {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
}

.image:hover {
    opacity: 0.8;
    cursor: pointer;
    transform: scale(1.05);
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 2rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#user-score, #comp-score {
    font-size: 3rem;
}

.msg-container {
    margin-top: 2rem;
    text-align: center;
}

#msg {
    background-color: #081b31;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
}

